@{
    ViewData["Title"] = "TravelTrip";
}
@model List<Product>

<div class="container">
    <div class="row">
        @if (Model != null && Model.Any())
        {
            @foreach (var product in Model)
            {
                <div class="col-md-4" style="margin-top:30px;">
                    <a href="#">
                        <div class="w3-display-container">
                            <div class="w3-display-topleft">HotHit</div>
                            <img src="https://picsum.photos/seed/@Guid.NewGuid().ToString()/1480/1400/?blur=2" alt="Product Image" class="img-fluid">
                        </div>
                    </a>
                </div>
            }
        }
        else
        {
            <p>No products available.</p>
        }
    </div>
</div>
