@{
    ViewData["Title"] = " TravelTrip";
}

@* body start *@
@model List<Product>
<div class="Text-top">

    <div>
        <div>
            <div class="w3-row ">
                <div class="w3-col m3 w3-padding-large w3-hide-small">
                    <img src="https://s.isanook.com/tr/0/ui/282/1410835/5ece2ab8136f1d1dbd9b9cee09e4bc8c_1528792188.jpg" width="750" height="450" style="margin-right:5rem; ">
                </div>

                <div class="w3-col m6 w3-padding-large">
                    <h1 class="w3-center">
                        ยังคิดไม่ออก
                    </h1><br>
                    <h5 class="w3-center">ยังคิดไม่ออก</h5>
                    <p style="text-align:left;  font-size:18;" class="w3-large">ท้าทายตนเองในโลกของการผจญภัยและความสุขท่องเที่ยวกับเว็บไซต์เราที่เต็มไปด้วยความพิเศษ. <br />เราไม่เพียงให้คุณรู้จักสถานที่ท่องเที่ยวที่ได้รับความนิยม, แต่ยังนำเสนอประสบการณ์ที่ไม่ซ้ำซากและน่าจดจำ.</p>
                    <p class="w3-large w3-text-grey w3-hide-medium">ทริปท่องเที่ยวที่ลืมไม่ได้! ค้นหาสถานที่ที่พักที่สะดวกสบาย, ร้านอาหารท้องถิ่นที่อร่อย, และสิ่งอำนวยความสะดวกที่ทำให้ทุกทริปเป็นที่น่าจดจำ.แพลนท่องเที่ยวของคุณไม่มีความน่าสนใจเมื่อมีปัญหาสภาพอากาศ. เราให้ข้อมูลที่<br />อัพเดททันทีเกี่ยวกับสภาพอากาศในทุกประเทศ.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<<div class="container">
    <div class="row">
        @if (Model != null && Model.Any())
        {
            @foreach (var product in Model)
            {
                <div class="col-md-4" style="margin-top:30px;">
                    <a href="#">
                        <div class="w3-display-container">
                            <div class="w3-display-topleft">HotHit</div>
                            <img src="https://picsum.photos/1400/1400?random=@Guid.NewGuid().ToString()" alt="Food" class="img-fluid">
                        </div>
                    </a>
                </div>
            }
        }
        else
        {
            <p>No products available.</p>
        }
    </div>
</div>
