<h1>ร้านขายของออนไลน์</h1>
<p>ที่อยู่: 123 ถนนสุขุมวิท กรุงเทพมหานคร 10110</p>
<p>เบอร์โทรศัพท์: 02-123-4567</p>
<p>อีเมล: info@example.com</p>
<img src="images/product1.jpg" alt="สินค้า 1">
<img src="images/product2.jpg" alt="สินค้า 2">
<img src="images/product3.jpg" alt="สินค้า 3">