<div class="slide">
    <center> <img class="w3-image" align-items-center" src="https://roijang.com/wp-content/uploads/2022/09/%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B9%80%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%A2%E0%B8%A7%E0%B8%9B%E0%B8%B2%E0%B8%A2.jpg" alt="Architecture" width="1210px;" height="450px;"></center>
</div>