
<h1><p> Create นะจ๊ะ </p></h1>

<div class="container">
    <form>

        <div class="row col-md-5 align-items-center">
            <label for="exampleInputEmail1" class="form-label">ID</label>
            <input type="number" class="form-control">
        </div>

        <div class="row col-md-5 align-items-center">
            <label for="exampleInputEmail1" class="form-label">NAME</label>
            <input class="form-control">
        </div>

        <div class="row col-md-5 align-items-center">
            <label for="exampleInputEmail1" class="form-label">Price</label>
            <input type="number" class="form-control">
        </div>

        <div class="row col-md-5 align-items-center">
            <label for="exampleInputEmail1" class="form-label">AMOUNT</label>
            <input type="number" class="form-control">
            
        </div>
       
        <div class="row-8 col-5" style="margin:10px;">
            <button type="submit" class="btn btn-outline-danger" >Submit</button>
            <a class="btn btn-outline-danger" asp-action="Index"> Back นะจ๊ะ </a>
        </div>
    </form>
</div>



