@{
    ViewData["Title"] = "Home Page";
}
<center>
    <div class="card" style="width: 18rem;">
        <img src="https://picsum.photos/1400/1400" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button >AddCard</button>
        </div>
    </div>
</center>